{% extends 'base.html.twig' %}

{% block title %}Transporteurs{% endblock %}
{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block body %}
   <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Liste des Transporteurs</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>Representant</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Numero Fix</th>
                <th>Mobile</th>
                <th>Fax</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transporteur in transporteurs %}
            <tr>
                <td>{{ transporteur.id }}</td>
                <td>{{ transporteur.code }}</td>
                <td>{{ transporteur.libelle }}</td>
                <td>{{ transporteur.representant }}</td>
                <td>{{ transporteur.adresse }}</td>
                <td>{{ transporteur.email }}</td>
                <td>{{ transporteur.numFix }}</td>
                <td>{{ transporteur.mobile }}</td>
                <td>{{ transporteur.fax }}</td>
                <td>
                    <a href="{{ path('transporteur_show', {'id': transporteur.id}) }}"class="btn btn-success">show</a>
                    <a href="{{ path('transporteur_edit', {'id': transporteur.id}) }}"class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('transporteur_new') }}"class="btn btn-warning">Create new</a>

	</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
{% endblock %}
