{% extends 'base.html.twig' %}

{% block title %}Centre de Gestion des Intrant{% endblock %}

{% block body %}
    <h1><center>Centre de Gestion des Intrant</center></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centre_gest_int in centre_gest_ints %}
            <tr>
                <td>{{ centre_gest_int.id }}</td>
                <td>{{ centre_gest_int.code }}</td>
                <td>{{ centre_gest_int.libelle }}</td>
                <td>
                    <a href="{{ path('centre_gest_int_show', {'id': centre_gest_int.id}) }}">show</a>
                    <a href="{{ path('centre_gest_int_edit', {'id': centre_gest_int.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('centre_gest_int_new') }}">Create new</a>
{% endblock %}
