{% extends 'base.html.twig' %}

{% block title %}Bordereaux Reglement{% endblock %}
{% block head %}
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block body %}

    	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Liste des Bordereaux de Reglement</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero du Bordereau de Reglement</th>
                <th>Date</th>
                <th>Montant Regle</th>
                <th>Mode du Paiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bordereau_reg in bordereau_regs %}
            <tr>
                <td>{{ bordereau_reg.id }}</td>
                <td>{{ bordereau_reg.numBorReg }}</td>
                <td>{{ bordereau_reg.date ? bordereau_reg.date|date('Y-m-d') : '' }}</td>
                <td>{{ bordereau_reg.mntReg }}</td>
                <td>{{ bordereau_reg.modPaie }}</td>
                <td>
                    <a href="{{ path('bordereau_reg_show', {'id': bordereau_reg.id}) }}"class="btn btn-success">show</a>
                    <a href="{{ path('bordereau_reg_edit', {'id': bordereau_reg.id}) }}"class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('bordereau_reg_new') }}"class="btn btn-warning">Create new</a>

	</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
{% endblock %}
