{% extends 'base.html.twig' %}

{% block title %}Bordereaux Livraison{% endblock %}
{% block head %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">
{% endblock %}
{% block body %}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Liste des bordereaux de livraison</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Numero Du Bordereau</th>
                <th>Date</th>
                <th>Mode de Paiement</th>
                <th>Mode de Livraison</th>
                <th>Date de Paiement</th>
                <th>Delai de Livraison</th>
                <th>Taux Remise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bordereau_liv in bordereau_livs %}
            <tr>
                <td>{{ bordereau_liv.id }}</td>
                <td>{{ bordereau_liv.numBord }}</td>
                <td>{{ bordereau_liv.date ? bordereau_liv.date|date('Y-m-d') : '' }}</td>
                <td>{{ bordereau_liv.modPaie }}</td>
                <td>{{ bordereau_liv.modLiv }}</td>
                <td>{{ bordereau_liv.datePaie ? bordereau_liv.datePaie|date('Y-m-d') : '' }}</td>
                <td>{{ bordereau_liv.delLiv ? bordereau_liv.delLiv|date('Y-m-d') : '' }}</td>
                <td>{{ bordereau_liv.tauxRem }}</td>
                <td>
                    <a href="{{ path('bordereau_liv_show', {'id': bordereau_liv.id}) }}"class="btn btn-success">show</a>
                    <a href="{{ path('bordereau_liv_edit', {'id': bordereau_liv.id}) }}"class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('bordereau_liv_new') }}"class="btn btn-warning">Create new</a>

</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
{% endblock %}
