{% extends 'base.html.twig' %}

{% block title %}Association Villagoise{% endblock %}

{% block body %}
    <h1><center>Association Villagoise</center></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association_villagoise.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ association_villagoise.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ association_villagoise.libelle }}</td>
            </tr>
            <tr>
                <th>Rep</th>
                <td>{{ association_villagoise.rep }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ association_villagoise.adr }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ association_villagoise.email }}</td>
            </tr>
            <tr>
                <th>Numero Fix</th>
                <td>{{ association_villagoise.numFix }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ association_villagoise.mobile }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ association_villagoise.fax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('association_villagoise_index') }}">back to list</a>

    <a href="{{ path('association_villagoise_edit', {'id': association_villagoise.id}) }}">edit</a>

    {{ include('association_villagoise/_delete_form.html.twig') }}
{% endblock %}
