{% extends 'base.html.twig' %}

{% block title %}Besoin{% endblock %}

{% block body %}
    <h1><center>Besoin</center></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ besoin.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ besoin.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ besoin.libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ besoin.date ? besoin.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('besoin_index') }}">back to list</a>

    <a href="{{ path('besoin_edit', {'id': besoin.id}) }}">edit</a>

    {{ include('besoin/_delete_form.html.twig') }}
{% endblock %}
