<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
			
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="{{path('home')}}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href={% if app.user %}"{{path('article_index')}}" {% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %} class="nav-link">ARTICLES</a></li>
	        	
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LA GESTION DES CREDIT AUX AGRICULTE</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href={% if app.user %}"{{path('besoin_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %} >Gestion Des Expressions Des Besoins</a>
                <a class="dropdown-item" href={% if app.user %}"{{path('bordereau_reg_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Gestion Des Bordereaux De Reglement</a>
                <a class="dropdown-item" href={% if app.user %}"{{path('bordereau_liv_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Gestion Des Bordereaux De Livraison</a>
                <a class="dropdown-item" href={% if app.user %}"{{path('facture_liv_int_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Gestion Des Factures De Livraison Intrant</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LA GESTION DE COLLECTE DU COTON</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href={% if app.user %}"{{path('ticket_pesee_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Gestion Des Tickets De Pesée</a>
                <a class="dropdown-item" href={% if app.user %}"{{path('facture_liv_cot_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Gestion Des Factures De Livraison Coton</a>
                <a class="dropdown-item" href={% if app.user %}"{{path('facture_globale_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Gestion Des Factures Globales</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href={% if app.user and app.user.roles =="admin" %} "{{path('user_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte ADMIN')" {% endif %}>Users</a>
                <a class="dropdown-item" href={% if app.user %}"{{path('transporteur_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Transpoteurs</a>
                <a class="dropdown-item" href={% if app.user %}"{{path('vehicule_index')}}"{% else %} "#" onclick="alert('vous devez être connecté à un compte')" {% endif %}>Véhicules</a>
              </div>
            </li>
	        	<li class="nav-item"><a href={% if app.user %} "/logout" {% else %} "/login" {% endif %}  class="nav-link">{% if app.user %} logout {% else %} login {% endif %} </a></li>
	
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    <body>
        {% block body %}
             <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
			
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="home/index.html.twig" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">ARTICLES</a></li>
	        	
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LA GESTION DES CREDIT AUX AGRICULTE</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="#">Gestion Des Expressions Des Besoins</a>
                <a class="dropdown-item" href="#">Gestion Des Bordereaux De Reglement</a>
                <a class="dropdown-item" href="#">Gestion Des Bordereaux De Livraison</a>
                <a class="dropdown-item" href="#">Gestion Des Factures De Livraison Intrant</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LA GESTION DE COLLECTE DU COTON</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="#">Gestion Des Tickets De Pesée</a>
                <a class="dropdown-item" href="#">Gestion Des Factures De Livraison Coton</a>
                <a class="dropdown-item" href="#">Gestion Des Factures Globales</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="#">Users</a>
                <a class="dropdown-item" href="#">Transpoteurs</a>
                <a class="dropdown-item" href="#">Véhicules</a>
              </div>
            </li>
	        	
	
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
        {% endblock %}
        {% block javascripts %}
        <script>
        function Message() {
       var msg="vous devez être connecté à un compte";
       console.log(msg)
       alert(msg);
        </script>
            <script src="/js/jquery/jquery-2.2.4.min.js"></script>
            <!-- Popper js -->
            <script src="/js/popper.min.js"></script>
            <!-- Bootstrap js -->
            <script src="/js/bootstrap.min.js"></script>
            <!-- Plugins js -->
            <script src="/js/plugins.js"></script>
            <!-- Active js -->
            <script src="/js/active.js"></script>
        {% endblock %}
    </body>
</html>
